<div id="twitter" class="vtspan-5 wireframe">
  <% if not logged_in? -%>
  	<h2>Please log in with you Twitter account</h2>
  		<div class="vtclearfix">
        <%= render :partial => 'shared/login' %>
  	  </div>
  		<p class="vtsmall vtquiet">We do not store your user name or password, it is used only to retrieve data from the Twitter API</p>
  <% else %>
	<h2>Welcome to VenTwits</h2>
		<div class="vtclearfix">
	  </div>
  <% end %>
</div>

<div id="actions" class="vtspan-3 wireframe vtlast">
	<h2>Log in to Ventwits so you can:</h2>
	<ul>
		<li>Create new Ventures and manage Needs</li>
		<li>Participate in on going Ventures</li>
		<li>Fulfil Needs and help others see their vision come to life</li>
		<li>Become part of a vibrant community of talented professionals</li>
	</ul>
</div>

<%= render :partial => 'shared/message_feed', :locals =>{:messages => @svc_messages} %>

<div id="additional-content" class="vtspan-3 vtlast vtclearfix">
	<div class="vtspan-3 wireframe vtlast">
		<h3>Most Active Ventures</h3>
		<ul>
			<li>VenTwits</li>
			<li>GroupTwits</li>
			<li>Lend4Health</li>
			<li>Twitter</li>
			<li>FTJCO</li>
		</ul>
	</div>
	<div class="vtspan-3 wireframe vtlast">
		<h3>Newest Ventures</h3>
		<ul>
			<li>GroupTwits</li>
			<li>FTJCO</li>
			<li>Bob's Co</li>
			<li>Happy Hardware</li>
			<li>Venture Bros.</li>
		</ul>
	</div>
	<div class="vtspan-3 wireframe vtlast">
		<h3>Top Contributors</h3>
		<ul>
			<li>@emenel</li>
			<li>@igniter</li>
			<li>@josephdee</li>
			<li>@ryantaylor</li>
			<li>@remarkk</li>
		</ul>
	</div>
</div>
