body, h1, h2, h3, h4, h5 {
  color: #222;
}

.wireframe {
  background-color: #DDD;
}

label, .label {
  font-weight: bold;
}

#header {
  padding: 0.5em 0 0 0;
  margin-bottom: 1.5em;
  background: #eee;
  border-bottom: 0.25em solid #ddd;
}

#header #main-nav {
  margin-top: 0.8em;
}

#header #main-nav a {
  font-size: 1.5em;
  padding: 0 0.5em;
}

#header #user-nav {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

#header h1 {
  margin: 0 20px 0 0;
}

#header h1 a {
  text-decoration: none;
  color: #000;
}

#header form {
  padding: 1em 0;
}

#header form input#search {
  width: 195px;
  margin-right: 10px;
}

#profile, #actions, #twitter, #additional-content div {
  margin-bottom: 1em;
}

#additional-content div {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

#additional-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#additional-content ul li {
  padding: 0;
  margin: 0;
}

#additional-content div.box-content, div.box-content {
  border: none;
  margin: 1em;
}

#footer {
  margin: 1em 0 0 0;
  padding: 1em 0;
  background: #ddd;
}

#footer .vtlast {
  text-align: right;
}

#twitter textarea {
  width: 430px;
  height: 50px;
}

/*#profile .data {
  float: left;
  width: 100px;
}
*/
#profile img, .tweet img {
  float: left;
  width: 48px;
  height: 48px;
  margin: 0 10px 0 0;
}

.tweet {
  padding: 1em;
}

.twitter-posts .odd {
  background-color: #DDD;
}

.tweet .tweet-content {
  float: left;
  width: 377px;
}

.tweet .tweet-meta {
  display: block;
}