body, h1, h2, h3, h4, h5 {
  color: #222;
}

a {
  color: #7b3580;
}

h4 {
  font-weight: bold;
}

.static-content h3 {
  margin-top: 1em;
}

.label {
  font-weight: bold;
}

label {
  font-weight: normal;
  display: block;
}

form .vtsmall {
  line-height: 1.5;
}

#header {
  padding: 0.5em 0 0 0;
  margin-bottom: 1.5em;
  height:152px;
}

#header #main-nav {
  margin-top: 0.8em;
}

#header #main-nav a {
  font-size: 1.5em;
  padding: 0 0.5em;
}

#header #user-nav {
  margin-bottom: 1em;
  padding:3px 10px; 
  text-align: center;
  background:#ff7f00;
}

#header h1 {
  margin: 0 20px 0 0;
}

#header h1 a {
  text-decoration: none;
  color: #000;
}

#header form {
  padding: 1em 0;
}

#header form input#search {
  width: 195px;
  margin-right: 10px;
}

#login-form fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}

#login-form fieldset div {
  float: left;
  width: 125px;
  margin: 0 15px 0 0;
}

#login-form fieldset div.vtlast {
  margin: 0;
}

#login-form fieldset div input {
  width: 125px;
}

#login-form p {
  font-size: 0.9em;
}

#profile, #actions, #twitter, #additional-content div {
  margin-bottom: 1em;
}

#additional-content div {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

#additional-content h3 {
  font-size: 1.2em;
}

#additional-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#additional-content ul li {
  padding: 0;
  margin: 0;
}

#additional-content div.box-content, div.box-content {
  border: none;
  margin: 1em;
}

#footer {
  margin: 2.5em 0 0 0;
  padding: 1em 0;
  height:50px;
  border-top: 1px solid #7b3580;
}

#footer .vtlast {
  text-align: right;
}

#twitter {
  padding-top: 1em;
}

h4 {
  margin-bottom: 0.5em;
}

#twitter textarea {
  width: 395	px;
  height: 70px;
}

#profile .data {
  margin: 1em 0 0 0;
}

#profile .data p {
  margin: 0.25em 0;
}

#profile img {
  border: 2px solid #7b3580;
}

#profile img, .tweet img {
  float: left;
  width: 48px;
  height: 48px;
  margin: 0 10px 0 0;
}

h3 .editLinkVentureName, h3 .editLinkThreadName {
  font-size: 0.7em;
}

.edit-link {
  text-decoration: underline;
}

.edit-form input {
  display: block;
  width: 240px !important;
  margin: 0.5em 0;
}

.tweet {
  padding: 1em 0.5em;
  margin: -1px 0 0 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ddd;
}

/*.twitter-posts .even {
  background-color: #f2ead8;
}
*/
.tweet .tweet-content {
  float: left;
  width: 370px;
}

.tweet .tweet-meta {
  display: block;
  margin-top: 0.25em;
  font-size: 0.9em;
}

.hideme {
  display: none;
}

.active-tab {
  text-decoration: none;
  color: #000;
}

p.tabs {
  margin: -0.5em 0 0.5em 0;
}