.wireframe {
  background-color: #DDD;
}

label, .label {
  font-weight: bold;
}

#profile, #actions, #twitter, #header, #additional-content div {
  margin-bottom: 1em;
}

#footer {
  margin: 1em 0;
}

#twitter textarea {
  width: 345px;
  height: 75px;
}

#profile .data {
  float: left;
  width: 100px;
}

.tweet {
  margin: 1em 0;
}

#profile img, .tweet img {
  float: left;
  width: 48px;
  height: 48px;
  margin: 0 10px 0 0;
}

.tweet .tweet-content {
  float: left;
  width: 412px;
}

.tweet .tweet-meta {
  display: block;
}