if Rails.env.development?
  TWITTER_USERNAME = 'username'
  TWITTER_PASSWORD = 'password'
elsif Rails.env.testing?
  TWITTER_USERNAME = 'username'
  TWITTER_PASSWORD = 'password'
elsif Rails.env.staging?
  TWITTER_USERNAME = 'username'
  TWITTER_PASSWORD = 'password'
elsif Rails.env.production?
  TWITTER_USERNAME = 'username'
  TWITTER_PASSWORD = 'password'
end