<h3>Latest conversations</h3>
<div id="twitter-feed" class="vtspan-5">
	<div class="twitter-posts">
    <%- messages.each do |message| -%>
       <%= render :partial=>'shared/message_feed_twitter', :locals=>{:message=>message} if message.type == :twitter %>
       <%= render :partial=>'shared/message_feed_rss', :locals=>{:message=>message} if message.type == :rss %>
    <%- end -%>
    
    <%= will_paginate messages%>
	</div>
</div>