<%- form_tag('/tweet/create') do -%>
  <%= hidden_field_tag :redirect_to, request.request_uri %>
	<%= text_area_tag('message',initial_value.strip + " ") %>	
	<p><%= submit_tag('Post') %></p>
<%- end -%>