<% if not logged_in? -%>
	<div class="vtspan-3 vtlast">
  	<div id="twitter">
      <%= render :partial => 'shared/login' %>
		</div>
	</div>
<% else %>
		<div class="vtspan-5">
			<div id="twitter">
  			<h3>What are you venturing?</h3>
  			<%= render :partial => 'shared/tweet_box', :locals => {:initial_value => initial_value} %>
			</div>
  </div>
<% end %>
