<h2>VenTwits is an open platform for people building things they care about.</h2>
<p>Discover, contribute, or start something new.</w>
<p>Jump in and see where your interest takes you.</p>

<h3>VenTwits the Name</h3>
<p><strong>venture</strong> <em>(from wiktionary)</em> A risky or daring undertaking or journey.</p>
<p><strong>twit</strong> <em>(from us :-))</em> A person who contributes openly, passionately, and constructively through 140 characters.</p>

<h3>VenTwits the Origin</h3>
<p>VenTwits was developed by Shouldless Inc. (^shldlss), a cohort of the Social Venture Commons (^svc). Helping things happen.</p>