<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Ventwits</title>
		
		<%= stylesheet_link_tag "blueprint/screen", "global" %>
	</head>

	<body>
		<div class="vtcontainer">
			<div id="header" class="vtspan-8 wireframe vtclearfix">
				<h1>HEADER</h1>
			</div>

			<%= yield %>
			
			<div id="footer" class="vtprepend-top vtspan-8 wireframe">
				Footer
			</div>
		</div>
	</body>
</html>